.back1{
	background-image: url(img/1.jpg);
	background-color: beige;
}
.back2{
	background-image: url(img/2.jpg);
	line-height: 20pt;
	padding-top: 50px;
	padding-bottom: 50px;
	max-height: 40px;
	max-width: 10000px;
	border:20px;
}
.back3{
	background-color: khaki;
}
.back4{
	background-color: beige;
}
.font{
	font-family:Berlin Sans FB Demi;
	color:skyblue;
}
.back6{
	background-color: pink;
}
